<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/graphstyle.css">
    <title>Graph</title>
</head>
<body>
    <center>
        <div class="menu">
            <h2>GraphMaker</h2>
            <h3>Make your own graph in 3 simple steps!</h3>
            <br>
            <h4><a href="graphmain.html" style="color: white;">Home</a></h4>
        </div>
        <br><br>
        <div class="content-section" style="width:50%">
            <br>
            <h3>Step 3: Your graph is ready!</h3>
            <br>
            <!--<p id="p1"></p>-->
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            <br><br>
        </div>
        
    </center>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="../js/bar.js" async></script> 
</body>
</html>