<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/graphstyle.css">
    <title>Pie Chart Specifications</title>
</head>
<body>
    <center>
        <div class="menu">
            <h2>GraphMaker</h2>
            <h3>Make your own graph in 3 simple steps!</h3>
            <br>
            <h4><a href="graphmain.html" style="color: white;">Home</a></h4>
        </div>
        <br><br>
        <div class="content-section" style="width:50%">
            <br>
            <h3>Step 2: Enter the data</h3>
            <br>
            <table>
            <form action="graph.html" method="GET" id="pieform">
                <tr>
                    <th>Graph Title:</th>
                    <td colspan="2"><input name="title" type="text" width="100px;"></td>
                </tr>
                <tr>
                    <th>Graph Type:</th>
                    <td colspan="2"><input name="type" type="text" id="type" value="Pie" width="100px;" readonly></td>
                </tr>
                <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
                <tr>
                <td colspan="3"><center><h4>Enter up to 7 data items:</h4></center></td>
                </tr>
                <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
                <tr>
                    <th></th>
                    <th>Label</th>
                    <th>Value</th>
                </tr>
                <th><label>Item 1</label></th>
                <td><input name="data1" type="text" width="100px;"></td>
                <td><input name="ht1" type="number" width="50px;"></td>
                </tr>
                <tr>
                <th><label>Item 2</label></th>
                <td><input name="data2" type="text" width="100px;"></td>
                <td><input name="ht2" type="number" width="50px;"></td>
                </tr>
                <tr>
                <th><label>Item 3</label></th>
                <td><input name="data3" type="text" width="100px;"></td>
                <td><input name="ht3" type="number" width="50px;"></td>
                </tr>
                <tr>
                <th><label>Item 4</label></th>
                <td><input name="data4" type="text" width="100px;"></td>
                <td><input name="ht4" type="number" width="50px;"></td>
                </tr>
                <tr>
                <th><label>Item 5</label></th>
                <td><input name="data5" type="text" width="100px;"></td>
                <td><input name="ht5" type="number" width="50px;"></td>
                </tr>
                <th><label>Item 6</label></th>
                <td><input name="data6" type="text" width="100px;"></td>
                <td><input name="ht6" type="number" width="50px;"></td>
                </tr>
                <th><label>Item 7</label></th>
                <td><input name="data7" type="text" width="100px;"></td>
                <td><input name="ht7" type="number" width="50px;"></td>
                </tr>
                <tr></tr>
                <tr>
                <td colspan="3"><center><input id="submit" type="submit" value="Create" class="button"><center></td>
                </tr>
            </form>
            </table>
        </div>
    </center>
</body>
</html>